<header class="container">
		<nav class="navbar navbar-toggleable-md  d-flex flex-nowrap no-padding">
			  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <a class="navbar-brand" href="/"><img class="img-fluid homeimg" src="./images/home.png"></a>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link" href="/lol"><img class="imgNavBar" src="./images/lol-logo.png"><br>League of Legends</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/wow"><img class="imgNavBar" src="./images/wow-logo.png"><br>World of Warcraft</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/dota"><img class="imgNavBar" src="./images/dota-logo.png"><br>DoTa</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/ow"><img class="imgNavBar" src="./images/ow-logo.png"><br>Overwatch</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/sc2"><img class="imgNavBar" src="./images/sc2-logo.png"><br>Starcraft 2</a>
			      </li>
			    </ul>
			  </div>
			</nav>
	</header>