<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	{% block css %}
	 	{% include "includes/css.html" %}
	{% endblock %}
</head>
<body>
			{% block header %}
				{% include "includes/header.html" %}
			{% endblock %}
		<div id="main" class="container">
		<div class="container row" id="center">
			
			<div  class="carousel slide col-md-8" data-ride="carousel">
				  <div class="carousel-inner" role="listbox">
				    <div class="carousel-item active">
				      <img class="d-block img-fluid" src="./images/aside1.jpg" alt="First slide">
				    </div>
				    <div class="carousel-item">
				      <img class="d-block img-fluid" src="./images/aside2.jpg" alt="Second slide"><!--700x250-->
				    </div>
				    <div class="carousel-item">
				      <img class="d-block img-fluid" src="./images/aside3.png" alt="Third slide">
				   	</div>
			</div>
		</div>	
			<section class="col-8" id="news">
				<div class="list-group">
					 
					
					</div>
				</section>
			{% block loggin %}
				{% include "partials/loggin.html" %}
			{% endblock %}
			
	</div>
	{% block footer %}
		{% include "includes/footer.html" %}
	{% endblock %}
  	
	<!--links jquery & bootstrap -->
	{% block js %}
		{% include "includes/js.html" %}
	{% endblock %}
</body>
</html>