<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	{% block css %}
	 	{% include "includes/css2.html" %}
	{% endblock %}

	

</head>
<body>
	<script src="https://use.fontawesome.com/17d50625a3.js"></script>
	<div id="main">
			{% block header %}
				{% include "includes/header2.html" %}
			{% endblock %}
			
			<section id="grupos">
				
					<div class="list-group col-11">
					  
				</section>

			
			
	</div>
	{% block footer %}
		{% include "includes/footer.html" %}
	{% endblock %}
  	
	<!--links jquery & bootstrap -->
	{% block js %}
		{% include "includes/js2.html" %}
	{% endblock %}
</body>
</html>