body{
	background-image: url("../images/background.jpg");
	background-position: center top, center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
.imgNavBar{
	height: 40px;
	width: 43px;
	margin-top: 10px;
}
.homeimg{
	height: inherit;
}
.navbar{
	height: 90px;
	box-shadow: 0 4px 5px 0px rgba(0,0,0,0.5);
	background-image: url("../images/header.jpg");
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;

}
.navbar a:hover, a:visited{
	color: #fff;
}

.navbar-nav {
	width: 100%;
}
.nav-item{
	height: 90px;
	width: 20%;
	box-shadow: 0 4px 6px 0px rgba(0,0,0,0.5);
	font-size: 14px;
}
.navbar-brand{
	width: 55%;
	height: 100%;
	margin: 0;
}

.nav-link {
    display: contents;
    color: #fff;
}
#main{
	margin-bottom: 5px;
}
#main-newgroup{
	width: 1070px;
	margin: 0 auto;
	position: relative;
	background-color: #162C44;
	height: -webkit-fill-available;
	margin-bottom: 50px;
}
#center{
	background-color: #162C44;
	color: #fff;
	margin-top: 5px ;
	padding-bottom: 30px;
	width: 100%;
    padding: 0;
    margin: 0 auto;
}
.right{
	float: right;
	color: #fff;
}
.carousel-inner{
	margin-left: ;
}

.list-group{
	margin-left: 50px;
	margin-bottom: 10px;

	width: 100%;
}
.list-group a:hover {
	background: #78dcff;
}
.list-group-item{
	background-color: transparent;
	color: #fff;
	margin-top: 5px;
	background-color: rgba(0,0,0,0.8);
}
#right{
	top: 10px;
    position: absolute;
    right: 45px;
}
.loggin{
	background-color: #1D364F;
	float: right;
  	position: absolute;
  	border-radius: 5px;
  	padding: 20px 30px;
}
.loggin a{
	color: #fff;
}

/*footer*/
footer { 
	background-color:#0c1a1e; 
	min-height:40px; 
	font-family: 'Open Sans', sans-serif; 
	position: absolute;
	bottom: 0;
	width: 100%;
}
/*footer.container-fluid{
	position: absolute;
}*/
 .bottom_ul { 
 	list-style-type:none; 
 	float:right; 
 	margin-bottom:0px;
 }
 .bottom_ul li { 
 	float:left; 
 	line-height:40px;
 }
 .bottom_ul li:after { 
 	content:"/"; 
 	color:#FFF; 
 	margin-right:8px; 
 	margin-left:8px;
 }
 .bottom_ul li a { 
 	color:#FFF;  
 	font-size:12px;
 }

 #main-singup{
	width: 1070px;
    margin: 0 auto;
    position: relative;
    background-color: #162C44;
    

}
#center-signup{
    padding-left: 231px;
    width: 700px;
    min-width: 700px;
    max-width: 700px;
    display: inline-block;
    color: #fff;
    height: 40%;
}
#grupos{
	margin-top: 50px;
	margin-bottom: 66px;
    height: fit-content;

}
.rounded-btn{
	border-radius: 90%;
	width: 50px;
	height: 50px;
	margin-left: auto;
	background-color: light-blue;
}